<ul class="navbar-nav mr-auto">
  <% if user_signed_in? %>
    <li class='nav-item <%= active_navigation?("profile", "profile") %>'>
      <%= link_to 'Profile', user_profile_profile_path, class: "nav-link"  %>
    </li>
    <li class='nav-item <%= active_navigation?("profile", "messages") %>'>
      <%= link_to 'Settings', user_profile_messages_path, class: "nav-link"  %>
    </li>
    <li class='nav-item <%= active_navigation?("profile", "settings") %>'>
      <%= link_to 'Messages', user_profile_settings_path, class: "nav-link"  %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  <% else %>
    <li class='nav-item>
      <%= link_to 'Login', new_user_session_path, class: "nav-link"  %>
    </li>
  <% end %>
</ul>
