<% model_class = User::PrivateMessage %>
<div class='row'>
  <% @messages.each.with_index do |message, index| %>
    <% sender = message.sender %>
    <div class="card">
      <div class="card-body">
        <div class='row'>
          <div class='col-md-3'>

            <img alt="Thumb" src="<%= thumb_photo_url_for(sender) %>" class='img-fluid' />
          </div>
          <div class='col-md-6'>
            <h4 class="card-title">
              <%= sender.first_name %>
              <span class="badge badge-primary"><%= message.message_intent %></span>
            </h4>
            <p><%= message.content %></p>
          </div>
          <div class='col-md-3 text-center'>

            <%= form_with url: user_current_message_reply_modal_path do |f| %>
              <%= f.hidden_field :id, value: @current_event.id %>
              <%= f.hidden_field :reply_to_id, value: sender.id %>
              <div class="form-group">
                <%= f.submit "Reply", :class => 'btn btn-primary btn-round' %>
              </div>
            <% end %>
            <br>
            <%= datetime_zoned_datetime(message.created_at, message.event.place) %><br>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
