<% sender = message.sender %>
<div class="card">
  <div class="card-body">
    <div class='row'>
      <div class='col-md-3'>
        <% if thumb_photo_url_for(sender).present? %>
          <img alt="Thumb" src="<%= thumb_photo_url_for(sender) %>" class='img-fluid' />
        <% end %>
      </div>
      <div class='col-md-6'>
        <h4 class="card-title">
          <%= sender.first_name %>
          <% if current_user.id == message.recipient_id %>
            <div id='votes-<%= sender.id %>'>
              <%= render partial: 'user/voting/votes', locals: {voter: current_user, votable: sender } %>
            </div>
          <% end %>
        </h4>
        <p><%= message.content %></p>

        <div class='text-center'>
          <% message.message_intent.split(',').each do |message_intent| %>
            <span class="badge badge-primary"><%= message_intent %></span>
          <% end %>
        </div>
      </div>
      <div class='col-md-3 text-center'>
        <br>
        <%= datetime_zoned_datetime(message.created_at, message.event.place) %>
        <br>
        <% if current_user.id == message.recipient_id %>
          <%= form_with url: user_current_message_modal_path do |f| %>
            <%= f.hidden_field :id, value: @current_event.id %>
            <%= f.hidden_field :send_to_id, value: sender.id %>
            <div class="form-group">
              <%= f.submit "Reply", :class => 'btn btn-primary btn-round' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

