<%- model_class = Event -%>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= @event.name %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <% if !current_user.events.find_by(id: @event).present? %>
        <%= link_to "Join", join_user_events_path, class: "btn btn-round btn-primary" %>
      <% end %>

      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:start_at) %>:</strong></dt>
        <dd><%= @event.start_at_zoned_datetime %></dd>
        <dt><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></dt>
        <dd><%= @event.end_at_zoned_datetime %></dd>
        <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @event.name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
        <dd><%= @event.address %></dd>
        <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>
        <dd><%= @event.place.name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @event.description %></dd>
        <dt><strong><%= model_class.human_attribute_name(:event_status) %>:</strong></dt>
        <dd><%= @event.event_status %></dd>
        <dt><strong><%= model_class.human_attribute_name(:event_type) %>:</strong></dt>
        <dd><%= @event.event_type %></dd>
        <dt><strong><%= model_class.human_attribute_name(:ticket_purchase_url) %>:</strong></dt>
        <dd>
          <% if @event.ticket_purchase_url %>
            <%= link_to @event.ticket_purchase_url, @event.ticket_purchase_url, target: "_blank" %>
          <% else %>
            Not Provided
          <% end %>
        </dd>
        <dt><strong><%= model_class.human_attribute_name(:contact_info) %>:</strong></dt>
        <dd>
          <% if @event.ticket_purchase_url %>
            <%= simple_format @event.contact_info %>
          <% else %>
            Not Provided
          <% end %>
        </dd>
      </dl>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
