<%- model_class = Event -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:event_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_at_zoned_date %><br><%= event.start_at_zoned_time %></td>
        <td><%= event.end_at_zoned_date %><br><%= event.end_at_zoned_time %></td>
        <td><%= event.event_type %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      user_event_path(event), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
