<%- model_class = Event -%>
<table class="table table-striped">
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td>
          <div class='row'>
            <div class='col-sm-4'>
              <%= event.name %>
            </div>
            <div class='col-sm-4'>
              <%= event.start_at_zoned_datetime %>
            </div>
            <div class='col-sm-4'>
              <%= event.place.name %>
            </div>
          </div>
        <td>
          <% case event_action %>
          <% when :join %>
            <%= link_to "Join",
                        user_event_path(event), :class => 'btn btn-default btn-xs' %>
          <% when :current %>
            <%= link_to "Goto",
                        user_current_event_path(id: event.id), :class => 'btn btn-default btn-xs' %>
          <% when :review %>
            <%= link_to "Review",
                        user_current_event_path(id: event.id), :class => 'btn btn-default btn-xs' %>
          <% when :show %>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        user_event_path(event), :class => 'btn btn-default btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
