<div class="card">
  <h2 class="card-title text-center">Current</h2>
  <div class="card-body">
    <%= render partial: "user/events/table",
               locals: { events: @events.current.reorder(start_at: :desc), event_action: :current, event_action_label: "Goto" } %>
  </div>
</div>
<br>
<div class="card">
  <h2 class="card-title text-center">Upcoming</h2>
  <div class="card-body">
    <%= render partial: "user/events/table",
               locals: { events: @events.upcoming.reorder(start_at: :desc), event_action: :modal, event_action_label: "Show" } %>
  </div>
</div>
<br>
<div class="card">
  <h2 class="card-title text-center">Past</h2>
  <div class="card-body">
    <%= render partial: "user/events/table",
               locals: { events: @events.past.reorder(start_at: :desc), event_action: :current, event_action_label: "Review" } %>
  </div>
</div>


<h1 class='text-center'>
  All Events<br>
  <small>(Temp, displayed for reference only)</small>
</h1>

<% @events = Event.all %>

<div class="card">
  <h2 class="card-title text-center">Current</h2>
  <div class="card-body">
    <%= render partial: "user/events/table",
               locals: { events: @events.current.reorder(start_at: :desc), event_action: :current, event_action_label: "Goto" } %>
  </div>
</div>
<br>
<div class="card">
  <h2 class="card-title text-center">Upcoming</h2>
  <div class="card-body">
    <%= render partial: "user/events/table",
               locals: { events: @events.upcoming.reorder(start_at: :desc), event_action: :show, event_action_label: "Join" } %>
  </div>
</div>
<br>
<div class="card">
  <h2 class="card-title text-center">Past</h2>
  <div class="card-body">
    <%= render partial: "user/events/table",
               locals: { events: @events.past.reorder(start_at: :desc), event_action: :current, event_action_label: "Review" } %>
  </div>
</div>