<div class='container text-center'>
  <h2>
    <%= @current_event.name %><br>
    <small>
      Starts: <%= @current_event.start_at_zoned_datetime %><br>
      Ends: <%= @current_event.end_at_zoned_datetime %><br>
      Current: <%= datetime_zoned_datetime(Time.current, @current_event.place) %>
    </small>
  </h2>
</div>
<ul class="nav nav-pills nav-pills-primary justify-content-center">
  <li class='nav-item'>
    <%= link_to "Attendees", attendees_user_current_event_path(id: @current_event.id),
                class: "nav-link #{active_navigation?("current", "attendees")}"  %>
  </li>
  <li class='nav-item'>
    <%= link_to "Favs", favorites_user_current_event_path(id: @current_event.id),
                class: "nav-link #{active_navigation?("current", "favorites")}"  %>
  </li>
  <li class='nav-item'>
    <%= link_to "Inbox", inbox_user_current_event_path(id: @current_event.id),
                class: "nav-link #{active_navigation?("current", "inbox")}"  %>
  </li>
</ul>