<%= form_for [:admin, @event], :html => { :class => "form-horizontal event" } do |f| %>
  <%= f.hidden_field :host_id, value: @event.host_id || current_host.id %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start_end_at, "Event Runs", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start_end_at, :class => 'form-control calentim col-lg-10' %>
    </div>
    <%=f.error_span(:start_end_at) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :place_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :place_id, Place.pluck(:name, :id), {}, { :class => 'form-control' } %>
    </div>
    <%=f.error_span(:place_id) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :event_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :event_type, Event::EVENT_TYPES, {}, { :class => 'form-control' } %>
    </div>
    <%=f.error_span(:event_type) %>
  </div>
  <div class="form-group">
    <%= f.label :event_status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :event_status, Event::EVENT_STATUSES, {}, { :class => 'form-control' } %>
    </div>
    <%=f.error_span(:event_status) %>
  </div>
  <div class="form-group">
    <%= f.label :display_profiles_after_minutes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :display_profiles_after_minutes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:display_profiles_after_minutes) %>
  </div>
  <div class="form-group">
    <%= f.label :display_profiles_for_minutes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :display_profiles_for_minutes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:display_profiles_for_minutes) %>
  </div>
  <div class="form-group">
    <%= f.label :allow_messaging_after_minutes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :allow_messaging_after_minutes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:allow_messaging_after_minutes) %>
  </div>
  <div class="form-group">
    <%= f.label :allow_messaging_for_minutes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :allow_messaging_for_minutes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:allow_messaging_for_minutes) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
  var calentimOptions = {
    minDate: moment("<%= Time.current.to_date %>", "YYYY-MM-DD"),
    showHeader: false, // Hide selected dates
    showFooter: false, // Hide ranges
  };

  $(".calentim").calentim(calentimOptions);
</script>