<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:start_at) %>:</strong></dt>
  <dd><%= @event.start_at_zoned_datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></dt>
  <dd><%= @event.end_at_zoned_datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @event.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>
  <dd><%= @event.place.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
  <dd><%= @event.code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_status) %>:</strong></dt>
  <dd><%= @event.event_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_type) %>:</strong></dt>
  <dd><%= @event.event_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ticket_purchase_url) %>:</strong></dt>
  <dd>
    <% if @event.ticket_purchase_url %>
      <%= link_to @event.ticket_purchase_url, @event.ticket_purchase_url, target: "_blank" %>
    <% else %>
      Not Provided
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_info) %>:</strong></dt>
  <dd>
    <% if @event.ticket_purchase_url %>
      <%= simple_format @event.contact_info %>
    <% else %>
      Not Provided
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:display_profiles_after_minutes) %>:</strong></dt>
  <dd><%= @event.display_profiles_after_minutes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:display_profiles_for_minutes) %>:</strong></dt>
  <dd><%= @event.display_profiles_for_minutes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allow_messaging_after_minutes) %>:</strong></dt>
  <dd><%= @event.allow_messaging_after_minutes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allow_messaging_for_minutes) %>:</strong></dt>
  <dd><%= @event.allow_messaging_for_minutes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_at) %>:</strong></dt>
  <dd><%= @event.start_at_zoned_datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></dt>
  <dd><%= @event.end_at_zoned_datetime %></dd>
  <dt><strong>Messaging Starts:</strong></dt>
  <dd><%= @event.allow_messaging_starts_at_zoned_datetime %></dd>
  <dt><strong>Messaging ends:</strong></dt>
  <dd><%= @event.allow_messaging_ends_at_zoned_datetime %></dd>
  <dt><strong>Display Profile starts:</strong></dt>
  <dd><%= @event.allow_messaging_starts_at_zoned_datetime %></dd>
  <dt><strong>Display Profile ends:</strong></dt>
  <dd><%= @event.allow_messaging_ends_at_zoned_datetime %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_events_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_event_path(@event), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
