<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>End at</th>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Code</th>
      <th>Event status</th>
      <th>Event type</th>
      <th>Display profiles after minutes</th>
      <th>Display profile for minutes</th>
      <th>Allow messaging after minutes</th>
      <th>Allow messaging for minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.start_at %></td>
        <td><%= event.end_at %></td>
        <td><%= event.name %></td>
        <td><%= event.address %></td>
        <td><%= event.description %></td>
        <td><%= event.code %></td>
        <td><%= event.event_status %></td>
        <td><%= event.event_type %></td>
        <td><%= event.display_profiles_after_minutes %></td>
        <td><%= event.display_profile_for_minutes %></td>
        <td><%= event.allow_messaging_after_minutes %></td>
        <td><%= event.allow_messaging_for_minutes %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
