<h2><%= @sender.name %> Messages</h2>
<%- model_class = User::PrivateMessage -%>

<% @user_private_messages.first.message_intent.split(',').each do |message_intent| %>
  <span class="badge badge-primary"><%= message_intent %></span>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Content</th>
      <th>Event</th>
      <th>Received</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user_private_messages.each do |user_private_message| %>
      <tr>
        <td><%= user_private_message.sender.name %></td>
        <td><%= user_private_message.content %></td>
        <td><%= user_private_message.event.name %></td>
        <td><%= user_private_message.created_at %></td>
        <td>
          <% if user_private_message.sender_id == @sender.id %>
            <%= form_with url: user_current_message_modal_path(id: user_private_message.event.id) do |f| %>
              <%= f.hidden_field :send_to_id, value: @sender.id %>
              <div class="form-group">
                <%= f.submit "Reply", :class => 'btn btn-primary btn-round' %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if @event.present? %>
  <%= link_to "Event Threads", inbox_user_current_event_path(id: @event.id), class: 'btn btn-primary btn-round' %>


  <%= link_to "All Messages with #{@sender.name}",
              user_private_messages_path(sender_id: @sender.id, event_id: @current_event&.id),
              class: "btn btn-primary btn-round" %>
<% end %>
<%= link_to "All Threads", user_profile_messages_path, class: 'btn btn-primary btn-round' %>

