<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Metyah" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-2.1.4.min.js" type="text/javascript"><\/script>');
    </script>


    <%= javascript_include_tag "application" %>
    <!-- .calentim includes -->
    <link href="/calentim/css/calentim.min.css" rel="stylesheet"/>
    <script src="/calentim/js/moment.min.js"></script>
    <script src="/calentim/js/calentim.min.js"></script>
    <!-- .end calentim includes -->


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
    <body>
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Metyah</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id='nav-menu'>
          <ul class="navbar-nav mr-auto">
            <li class='nav-item <%= active_navigation?("events") %>'>
              <%= link_to "Events", events_path, class: "nav-link"  %>
            </li>
            <li class='nav-item <%= active_navigation?("places") %>'>
              <%= link_to "Place", places_path, class: "nav-link"  %>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
        <!--/row-->
        <footer>
          <p>&#xA9; Metyah 2018</p>
        </footer>
      </div>
      <!-- /container -->
    </body>
</html>