<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/shared/head' %>
    <%= render partial: 'layouts/user/head' %>
    <%= content_for :head %>
  </head>
    <body>
      <%= render partial: 'layouts/user/nav' %>
      <%= render partial: 'layouts/user/dynamic_nav' %>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div id='flash-message'>
              <%= render partial: 'layouts/shared/flash', flash: flash %>
            </div>
            <%= yield %>
          </div>
        </div>
        <!--/row-->
        <%= render partial: 'layouts/user/footer' %>
      </div>
      <!-- /container -->
    </body>
</html>
